<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application for moder</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'products/styles.css' %}">
</head>
<body>
    {% for i in applications %}
    <br>
    <div>
        <p>{{i.date_create}}</p>
        <p>{{i.content}}</p>
        <form method="post">
            {% csrf_token %}
            <button name="pk_application" value="{{i.pk}}" type="submit">перейти к покупкам пользователя</button>
        </form>
    </div>
    {% endfor %}
</body>
</html>